# Ignore helper files and data files (contain sensitive files also)
data/helpers/*
data/semi-processed/*
data/processed/*
experiments/*

# Keep the folders 
!data/helpers/.gitkeep
!data/semi-processed/.gitkeep
!data/processed/.gitkeep 
!experiments/.gitkeep


# Don't keep cache
__pycache__

# Notebook checkpoints
.ipynb_checkpoints
